* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.post {
  width: 75%;
  border: solid 1px;
  margin: 1rem 0;
}

.post-images {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.post-image {
  width: 20%;
}

#image-previews {
  display: flex;
  width: 50rem;
  height: 15rem;
  border: solid 6px red;
  margin: 1rem 0;
  overflow: hidden;
}

#image-select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  border: solid 6px blue;
  padding: 1rem;
  cursor: pointer;
}

.image-preview {
  width: 20%;
  flex-shrink: 0;
  border: solid 4px green;
}

.image-preview__image {
  width: 100%;
  height: 80%;
  vertical-align: top;
}

.image-preview-buttons {
  display: flex;
  align-items: center;
  height: 20%;
}

.image-edit-button,
.image-delete-button {
  flex-grow: 1;
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}
